
.conteinerp{
    
    width: 800px;
    margin: auto;
    height: auto;

    /**/
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    
}

.produto1{
    background-color: lightgray;
    border: 1px solid transparent;
    border-image: linear-gradient(to right, #dfbd69,#e0aa3e);
    border-image-slice: 1;
    width: 300px;
    height: auto;
    
    margin-top: 5%;
    margin-bottom: 5%;
    /**/
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

#des{
    display: none;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: start;
}
#des1{
    display: none;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: start;
}

.imgp{
    
    
    width: 100%;
    height: 200px;

}


.produto1 > span {
    width: 100%;
    padding: 0px;
    margin-top: 10px;
}
.titu{
text-align: center;
}

#abrir {
   text-decoration: none;
   cursor: pointer;
   background-image: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
   radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
   background-clip: text;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;

}

@media (max-width: 790px) {

    
    .conteinerp{
        margin-top: 7%;
       width: 80%;
       
     }

     #des1{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: start;
    }

    #des{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: start;
    }

    #abrir{
        display: none;
    }
     
    }

